name: CI Build Check

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  build:
    name: Build (${{ matrix.platform }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
          - os: windows-latest
            platform: windows
          - os: macos-latest
            platform: macos
          - os: ubuntu-latest
            platform: android
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Android SDK
        if: matrix.platform == 'android'
        uses: android-actions/setup-android@v3
        with:
          packages: |
            tools
            platform-tools
            platforms;android-36
            build-tools;36.0.0

      - name: Grant execute permission for gradlew
        if: matrix.os != 'windows-latest'
        run: chmod +x gradlew

      - name: Build (LWJGL3, iOS, TeaVM)
        if: matrix.platform != 'android'
        run: ./gradlew :core:compileJava :lwjgl3:compileJava :ios:compileJava :teavm:compileJava --no-daemon
        shell: bash

      - name: Build (Android)
        if: matrix.platform == 'android'
        run: ./gradlew :core:compileJava :android:assembleRelease --no-daemon
        shell: bash
